body {
  text-align: center;
  background-color: #e5e9ed;
  color: #444;
  font-family: "Droid Sans", Arial, Serif;
  font-size: 10pt;
}

a, a:active, a:visited, a:hover {
  color: #f6f6f6;
}

header {
  background-color: #262626;
  padding: 15px 0 15px 0;
  color: #f6f6f6;
}

header h1 {
  margin: 0 auto;
  text-align: left;
  width: 1000px;
  font-size: 2em;
  font-family: "Droid Sans", Arial, Serif;
  font-weight: bold;
  text-shadow: 6px 6px 0px black;
}

section.editor {
  margin: 20px auto;
  width: 1000px;
  text-align: left;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 5px;
}

section.editor div.controls {
  text-align: right;
  margin: 0;
  padding: 20px;
  border-bottom: solid 1px #ccc;
}

section.editor div.controls button {
  border: solid 1px #ccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
  font-size: 100%;
  border-radius: 3px;
  padding: 5px 9px;
}

section.editor div.controls button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#fff));
}

div#sidebar {
  position: relative;
  float: left;
  width: 249px;
  height: 650px;
  background-color: #f2f4f6;
  border-right: solid 1px #ccc;
  border-bottom-left-radius: 3px;
}

div#editor {
  position: relative;
  background-color: #fff;
  width: 750px;
  height: 650px;
  border-bottom-right-radius: 3px;
}

footer {
  margin: 20px 0;
  font-weight: normal;
  color: #666;
}

footer small {
  display: block;
  margin: 10px;
}