<ul class="thumbnails books">
	<li class="span4">
		<div class="thumbnail">
			<div class="img">
				<a href="http://www.amazon.com/gp/product/0321812182/ref=as_li_ss_il?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0321812182&amp;linkCode=as2&amp;tag=jshint-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&amp;ASIN=0321812182&amp;Format=_SL160_&amp;ID=AsinImage&amp;MarketPlace=US&amp;ServiceVersion=20070822&amp;WS=1&amp;tag=jshint-20"/></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=jshint-20&amp;l=as2&amp;o=1&amp;a=0321812182" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</div>

			<p>No matter how long you’ve been writing JavaScript code, Effective JavaScript will help deepen your understanding of this powerful language, so you can build more predictable, reliable, and maintainable programs.</p>

			<p><a href="http://www.amazon.com/gp/product/0321812182/ref=as_li_ss_il?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0321812182&amp;linkCode=as2&amp;tag=jshint-20" class="btn btn-primary">Buy on Amazon</a></p>
		</div>
	</li>

	<li class="span4">
		<div class="thumbnail">
			<div class="img">
				<a href="http://www.amazon.com/gp/product/1449327680/ref=as_li_ss_il?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1449327680&amp;linkCode=as2&amp;tag=jshint-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&amp;ASIN=1449327680&amp;Format=_SL160_&amp;ID=AsinImage&amp;MarketPlace=US&amp;ServiceVersion=20070822&amp;WS=1&amp;tag=jshint-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=jshint-20&amp;l=as2&amp;o=1&amp;a=1449327680" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</div>

			<p>With the JavaScript practices in this book&mdash;including code style, programming tips, and automation&mdash;you will learn how to write maintainable code that other team members can easily understand, adapt, and extend.</p>

			<p><a href="http://www.amazon.com/gp/product/1449327680/ref=as_li_ss_il?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1449327680&amp;linkCode=as2&amp;tag=jshint-20" class="btn btn-primary">Buy on Amazon</a></p>
		</div>
	</li>
</ul>