<header class="header" role="banner">
	<a href="/" class="logo"><img src="/src/img/jshint-blue-thumb.png" alt="JSHint" width="150" height="66"></a>
	<nav class="menu">
		<ul>
			<li><a href="/about/">About</a>
			<li><a href="/docs/">Docs</a>
			<li><a href="/install/">Install</a>
			<li><a href="/hack/">Hack</a>
			<li><a href="/blog/">Blog</a>
		</ul>
	</nav>
</header>

<a href="https://github.com/jshint/jshint">
	<img class="github-logo" src="/src/img/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" width="149" height="149">
</a>