<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li {% if page.name == "home" %}class="active"{% endif %}><a href="/">Home</a>
				<li {% if page.name == "about" %}class="active"{% endif %}><a href="/about/">About</a>
				<li {% if page.name == "docs" %}class="active"{% endif %}><a href="/docs/">Docs</a>
				<li {% if page.name == "install" %}class="active"{% endif %}><a href="/install/">Install</a>
				<li {% if page.name == "hack" %}class="active"{% endif %}><a href="/hack/">Hack</a>
				<li {% if page.name == "blog" %}class="active"{% endif %}><a href="/blog/">Blog</a>
			</ul>
		</div>
	</div>
</div>

<div class="page-header pull-left">
	<h1 class="pull-left">
		{% if page.name == "home" %}
			<img src="/src/img/jshint-blue.png" alt="JSHint" height="120" width="269">
		{% else %}
			{{ page.title }} {% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}
		{% endif %}
	</h1>

	<div id="carbonads-container" class="pull-right">
		<div class="carbonad">
			<div id="azcarbon"></div>
			<script type="text/javascript">
				var z = document.createElement("script");
				z.type = "text/javascript";
				z.async = true;
				z.src = "http://engine.carbonads.com/z/49189/azcarbon_2_1_0_HORIZ";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(z, s);
			</script>
		</div>
	</div>
</div>

<div class="clearfix"></div>