<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="description" content="Blog about JSHint and static analysis">
		<meta name="author" content="Anton Kovalyov">
		<title>JSHint - {% if page.title %}{{ page.title }}{% else %}Blog{% endif %}</title>
		<link rel="alternate" href="/atom.xml" title="JSHint" type="application/atom+xml">
		<link rel="stylesheet" href="/src/css/blog.css">
	</head>

	<body>
		<div class="container">
			<div class="header">
				<a href="/"><img src="/src/img/jshint-thumb.png" alt="JSHint" width="200" height="89"></a>

				<ul>
					<li>The official JSHint blog.</li>
					<li><a href="https://twitter.com/jshint/">Twitter</a>,
						<a href="https://plus.google.com/106718599369974587948">Google+</a>.</li>
				</ul>
			</div>

			{% if page.title %}
			<h2>{{ page.title }}
				<span class="date">{{ page.date | date: "%d %B %Y" }}</span></h2>
			{% endif %}

			{{ content }}

			{% unless page.nocomments %}
			<div id="disqus_thread"></div>

			<script>
				var disqus_shortname = "jshint";

				(function () {
					var dsq = document.createElement("script");
					dsq.type = "text/javascript";
					dsq.async = true;
					dsq.src = "//jshint.disqus.com/embed.js";

					(document.getElementsByTagName("head")[0] ||
						document.getElementsByTagName("body")[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the comments.</noscript>
			{% endunless %}
		</div>

		<div class="footer">
			<p><strong>JSHint</strong>, by JSHint Community.</p>
			<p>JSHint and this blog are maintained by
				<a href="http://anton.kovalyov.net/">Anton Kovalyov</a>.</p>
		</div>

		<script>
			var _gaq = _gaq || [];
			_gaq.push(["_setAccount", "UA-126146-15"]);
			_gaq.push(["_setDomainName", "jshint.com"]);
			_gaq.push(["_trackPageview"]);

			(function () {
				var ga = document.createElement("script");
				ga.type = "text/javascript";
				ga.async = true;
				ga.src = "//www.google-analytics.com/ga.js";

				var st = document.getElementsByTagName("script")[0];
				st.parentNode.insertBefore(ga, st);
			})();
		</script>
	</body>
</html>
