<!doctype html>

<html lang="en">
	<head>
		<title>JSHint - {% if page.title %}{{ page.title }}{% else %}Blog{% endif %}</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Blog about JSHint and static analysis">
		<meta name="author" content="Anton Kovalyov">

		<link rel="stylesheet" href="/src/css/blog.css">
	</head>

	<body>
		<div class="container">
			<div class="header">
				<a href="/blog/"><img src="/src/img/jshint.png"></a>

				<ul>
					<li>The official JSHint blog.</li>
				</ul>
			</div>

			{% if page.title %}
			<h2>{{ page.title }}
				<span class="date">{{ page.date | date: "%d %B %Y" }}</span></h2>
			{% endif %}

			{{ content }}
		</div>
	</body>
</html>

