<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="description" content="A JavaScript Code Quality Tool">
		<meta name="author" content="Anton Kovalyov">
		<title>{{ page.title }} — JSHint</title>
		<link rel="stylesheet" href="/src/css/bootstrap.css">
		<link rel="stylesheet" href="/src/css/docs.css">
	</head>

	<body>
		{% include header.html %}

		{% if page.name == "docs" %}
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2">
						<ul class="nav nav-tabs nav-stacked docs-nav">
							<li {% if page.permalink == "/docs/" %}class="active"{% endif %}>
								<a href="/docs">Usage</a>
							</li>

							<li {% if page.permalink == "/docs/config/" %}class="active"{% endif %}>
								<a href="/docs/config/">Configuration</a>
							</li>

							<li {% if page.permalink == "/docs/options/" %}class="active"{% endif %}>
								<a href="/docs/options">Options</a>
							</li>

							<li {% if page.permalink == "/docs/support/" %}class="active"{% endif %}>
								<a href="/docs/support">Support</a>
							</li>
						</ul>
					</div>

					<div class="span10 content">
						{{ content }}
					</div>
			</div>
		{% elsif page.name == "blog" or page.name == "archive" or page.name == "post" %}
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2">
						<ul class="nav nav-tabs nav-stacked docs-nav">
							<li {% if page.name == "blog" %}class="active"{% endif %}><a href="/blog/">Recent Posts</a></li>
							<li {% if page.name == "archive" %}class="active"{% endif %}><a href="/blog/archive/">Archive</a></li>
							<li><a href="https://twitter.com/jshint">Twitter</a></li>
							<li><a href="https://github.com/jshint/jshint/issues/">Bugs</a></li>
						</ul>
					</div>

					<div class="span10 content">
						<div class="blog">
							{% if page.name == "post" %}
								<h4><span class="date">{{ page.date | date: "%d %B %Y" }}</span></h4>
							{% endif %}

							{{ content }}

							{% if page.name == "post" %}
								{% unless page.nocomments %}
								<div id="disqus_thread"></div>

								<script>
									var disqus_shortname = "jshint";

									(function () {
										var dsq = document.createElement("script");
										dsq.type = "text/javascript";
										dsq.async = true;
										dsq.src = "//jshint.disqus.com/embed.js";

										(document.getElementsByTagName("head")[0] ||
											document.getElementsByTagName("body")[0]).appendChild(dsq);
									})();
								</script>
								<noscript>Please enable JavaScript to view the comments.</noscript>
								{% endunless %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="centered content">			
				{{ content }}
			</div>
		{% endif %}

		{% include footer.html %}

		<script>
			var _gaq = _gaq || [];
			_gaq.push(["_setAccount", "UA-126146-15"]);
			_gaq.push(["_setDomainName", "jshint.com"]);
			_gaq.push(["_trackPageview"]);

			(function () {
				var ga = document.createElement("script");
				ga.type = "text/javascript";
				ga.async = true;
				ga.src = "//www.google-analytics.com/ga.js";

				var st = document.getElementsByTagName("script")[0];
				st.parentNode.insertBefore(ga, st);
			})();
		</script>
	</body>
</html>
