<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="A JavaScript Code Quality Tool">
		<meta name="author" content="Anton Kovalyov">
		<title>JSHint, a JavaScript Code Quality Tool</title>

		<link rel="stylesheet" href="/src/css/bootstrap.css">
		<link rel="stylesheet" href="/src/css/docs.css">
		<link rel="stylesheet" href="/src/css/codemirror.css">
		<link rel="stylesheet" href="/src/css/editor.css">

		<script src="/src/js/codemirror.js"></script>
		<script src="/src/js/javascript.js"></script>
		<script src="/get/jshint-2.1.4.js"></script>
	</head>

	<body>
		{% include header.html %}

		<div class="centered content">
			{{ content }}
		</div>

		{% include footer.html %}

		<script src="/src/js/xoxo.js"></script>
	</body>
</html>
